<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform startupTimeLimit="20" processPath="C:\Program Files\nodejs\node.exe" arguments=".\app.js" >
            <environmentVariables>
                <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
                <!-- Ivanti ISM Logs path. If not provided, application logs path will be used. -->
                <environmentVariable name="LOG_PATH" value="C:\Logs\asset-import" />
                <environmentVariable name="NODE_ENV" value="Production" />
                <!-- Logging level: error/ warn  / info / debug. If not provided, info will be used. -->
                <environmentVariable name="LOG_LEVEL" value="info" />
                <!-- Enable health check pinger to keep the app alive. -->
                <environmentVariable name="ENABLE_HEALTH_CHECK_PINGER" value="true" />
                <!-- Health check pinger interval in minutes. Default is 5 minutes. -->
                <environmentVariable name="HEALTH_CHECK_PING_INTERVAL_MINUTES" value="5" />
                <!-- SSL certificate validation. false to ignore certificate related errors-->
                <environmentVariable name="NODE_TLS_REJECT_UNAUTHORIZED" value="false" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>